[paths]
# Base is just used to make the following paths easier to specify
base = /home/user/scratch
# raw is the parent of unaltered resources and their archives
raw = %(base)s/raw
# normalized is the parent of OTT-formatted versions of resources
normalized = %(base)s/normalized
# normalized is the parent of artifacts associated with cleaning/editing of the resources
processed = %(base)s/processed



[behavior]
# If true, you'll see the full stacktrace when the CLI crashes because of an exception
crash_with_stacktraces = false